<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_1_create_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-488}</string>
                <key>spriteSize</key>
                <string>{867,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{418,287},{867,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_1_create_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-488}</string>
                <key>spriteSize</key>
                <string>{895,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{144,287},{895,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_1_create_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-488}</string>
                <key>spriteSize</key>
                <string>{889,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{281,287},{889,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_1_destroy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-523}</string>
                <key>spriteSize</key>
                <string>{945,141}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{1,287},{945,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_1_destroy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-523}</string>
                <key>spriteSize</key>
                <string>{973,141}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{1,1},{973,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_1_destroy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-519}</string>
                <key>spriteSize</key>
                <string>{969,141}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{1,144},{969,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_1_idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-500}</string>
                <key>spriteSize</key>
                <string>{519,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{829,287},{519,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_1_work_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-488}</string>
                <key>spriteSize</key>
                <string>{665,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{692,287},{665,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_1_work_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-488}</string>
                <key>spriteSize</key>
                <string>{691,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{555,287},{691,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_2_create_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-488}</string>
                <key>spriteSize</key>
                <string>{867,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{418,287},{867,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_2_create_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-488}</string>
                <key>spriteSize</key>
                <string>{895,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{144,287},{895,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_2_create_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-488}</string>
                <key>spriteSize</key>
                <string>{889,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{281,287},{889,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_2_destroy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-523}</string>
                <key>spriteSize</key>
                <string>{945,141}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{1,287},{945,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_2_destroy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-523}</string>
                <key>spriteSize</key>
                <string>{973,141}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{1,1},{973,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_2_destroy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-519}</string>
                <key>spriteSize</key>
                <string>{969,141}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{1,144},{969,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_2_idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-500}</string>
                <key>spriteSize</key>
                <string>{519,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{829,287},{519,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_2_work_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-488}</string>
                <key>spriteSize</key>
                <string>{665,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{692,287},{665,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_2_work_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-488}</string>
                <key>spriteSize</key>
                <string>{691,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{555,287},{691,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_3_create_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-488}</string>
                <key>spriteSize</key>
                <string>{867,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{418,287},{867,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_3_create_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-488}</string>
                <key>spriteSize</key>
                <string>{895,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{144,287},{895,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_3_create_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-488}</string>
                <key>spriteSize</key>
                <string>{889,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{281,287},{889,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_3_destroy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-523}</string>
                <key>spriteSize</key>
                <string>{945,141}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{1,287},{945,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_3_destroy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-523}</string>
                <key>spriteSize</key>
                <string>{973,141}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{1,1},{973,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_3_destroy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-519}</string>
                <key>spriteSize</key>
                <string>{969,141}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{1,144},{969,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>building_3_idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-500}</string>
                <key>spriteSize</key>
                <string>{519,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{829,287},{519,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_3_work_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-488}</string>
                <key>spriteSize</key>
                <string>{665,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{692,287},{665,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>building_3_work_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-488}</string>
                <key>spriteSize</key>
                <string>{691,135}</string>
                <key>spriteSourceSize</key>
                <string>{1701,1701}</string>
                <key>textureRect</key>
                <string>{{555,287},{691,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>building.png</string>
            <key>size</key>
            <string>{975,1233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8393d9ae0e8935041a21a95a9a68b04:213b20860469a020de4600a97e2a20a7:e26fee76d701fc6c6e02c2cbc3f50d05$</string>
            <key>textureFileName</key>
            <string>building.png</string>
        </dict>
    </dict>
</plist>
